.top-btn {

    position: fixed;

    right: 30px;

    bottom: 30px;

    width: 55px;

    height: 55px;

    border: none;

    border-radius: 50%;

    background: #111;

    color: white;

    cursor: pointer;

    opacity: 0;

    pointer-events: none;

    transition: .3s;

}

.top-btn.show {

    opacity: 1;

    pointer-events: auto;

}